body{
color:rgb(232, 189, 37);

background:rgb(247, 245, 245);

}

header{
border-bottom: solid 2px rgb(rgb(163, 161, 146));
padding: 20px;
font-size: 32px;
color: rgb(34, 33, 33);
background: (rgb(245, 241, 241));

}
.chamada{
background:rgb(232, 189, 37) ;
padding-bottom: 100px;
padding-top: 100px;
display: flex;
justify-content: center;

}
.chamada-texto{
margin: right 5%;

}









